In [1]:
import os
import pandas as pd
import shutil

In [2]:
training = pd.read_csv('training_set.csv')
test = pd.read_csv('test.csv')

In [3]:
test.head()

                               image_name  x1  x2  y1  y2
0               1467891670691DSC_0582.png NaN NaN NaN NaN
1               1475151786691DSC00560.png NaN NaN NaN NaN
2               1480334114405_R2A3620.png NaN NaN NaN NaN
3  JPEG_20160712_161047_1000606860114.png NaN NaN NaN NaN
4    JPEG_20160403_174522_-1137349501.png NaN NaN NaN NaN

In [4]:
training.head()

                                          image_name   x1   x2   y1   y2
0             JPEG_20160517_140621_1000651031832.png   78  446   83  422
1                   1473231510890DeeplearnS11456.png   73  567  146  351
2                         1476881557883Untitled1.png   13  561  124  362
3  1474264827890cobalt-beyond-the-sea-maxi-dress3...    0  640  140  330
4             JPEG_20160711_113321_1000235741992.png  217  442   65  465

In [5]:
os.mkdir('train/')

In [6]:
train_files = training['image_name']
test_files = test['image_name']

In [7]:
src = './images/'
dst_train = './train/'
dst_test = './test/'

In [8]:
def copy(src, dst, file):
    srcpath = os.path.join(src, file)
    dstpath = os.path.join(dst, file)
    shutil.copyfile(srcpath, dstpath)

In [9]:
from tqdm import tqdm

In [10]:
for i in tqdm(range(len(training))):
    file = train_files[i]
    copy(src, dst_train, file)

100%|███████████████████████████████████████████████████████████████████████████| 24000/24000 [01:35<00:00, 252.11it/s]

In [ ]:
for i in range(len(test)):
    file = test_files[i]
    copy(src, dst_test, file)